#entity-locator-block-preview{

}
#entity-locator-block-preview-filters{

}

#entity-locator-block-preview-places{
	position:relative;
	margin-top: 15px;
}

#entity-locator-block-preview-places .place{
	position:relative;
	margin: 2px;
	float:left;
}

#entity-locator-block-preview-places .caption{
	position:absolute;
	color:white;
	background:rgba(0,0,0,0.5) ;
	height:100%;
	width: 100%;
	overflow: hidden;
	display:none;
}

#entity-locator-block-preview-places .title{
			
}
#entity-locator-block-preview-places .link{

}